<div class="c_box__shopping_list">
  <div class="c_box__shopping_list_inner">
    <% 9.times do %>
      <div class="c_box__shopping_list_item">
        <div class="a_flex c_box__shopping_list_item_inner">
          <%= form_with url: root_path, method: :get do |f| %>
            <div class="a_actions a_pointer c_submit__buy">
              <%= f.submit "購入" %>
            </div>
          <% end %>
          <p>食材名</p>
          <p>必要量</p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="a_box__link c_link__part_add">
    <%= link_to "一部追加",root_path, class:"a_link" %>
  </div>
</div>