<div>
  <div class="a_flex c_box__test_link">
    <div class="a_box__link b_link__tester">
      <%= link_to "日付を明日にしてバッジ処理を行う", root_path, class:"a_link b_link__test" %>
    </div>
    <div class="a_box__link b_link__tester">
      <%= link_to "マイページに戻る", root_path, class:"a_link b_link__test" %>
    </div>
  </div>

  <div class="c_border__test">
    <div class="c_border__test_inner">
        xxxxxx
        xxxxxx
        xxxxxx
        xxxxxx
        xxxxxx
    </div>
  </div>
</div>