<div>
  <div>
    <div class="c_box__one_week_top">
      <div class="c_box__one_week_top_inner">
        <div>
        </div>
        <div class="">
          <%= render "new_item" %>
        </div>
      <div>
    </div>

    <div class="c_box__one_week_main">
      <div class="c_box__one_week_main_inner">
      </div>
    </div>
  </div>
</div>