<div class="c_box__ranking_all">
  <h2>ランキング</h2>
  <div class="c_box__ranking">
    <div class="a_flex c_box__ranking_inner">
      <% 58.times do %>
        <div class="c_box__ranking_item">
          <div class="c_box__ranking_item_inner">
            <% if true %>
              <div class="c_pop">
                <p>〜％を<br/>冷蔵庫で賄えます!</p>
              </div>
            <% end %>
            <%= link_to(root_path, class:"a_link__black c_link__ranking_item") do %>
              <div class="c_box__photo_ranking">
                <%= image_tag "cake.jpg", size: "240x240",class:"c_photo__ranking_item" %>
                <div class="c_num__ranking">
                  <h2></h2>
                </div>
              </div>
              <h3>メニュー名</h3>
              <p class="a_text__abbreviation c_text__ranking">ここにレシピが入ります。ここにレシピが入ります。ここにレシピが入ります。ここにレシピが入ります。ここにレシピが入ります。</p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>