<div class="c_box__rank">
  <div class="c_box__rank_inner">
    <h2>人気ランキング</h2>
    <div class="a_flex">
      <div class="b_num c_num1">
        <p>1位</p>
      </div>
      <div class="b_num c_num2">
        <p>2位</p>
      </div>
      <div class="b_num c_num3">
        <p>3位</p>
      </div>
    </div>

    <div class="a_flex">
      <% 3.times do %>
        <div class="c_photo__box_rank">
          <%= link_to root_path do %>
            <%= image_tag 'cake.jpg', size: '200x200',class:"c_photo__rank" %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="a_box__link c_link__rank">
      <%= link_to(root_path, class:"a_link") do %>
        <p>人気ランキングを全て見る<span class="c_link__space"> > </span></p>
      <% end %>
    </div>
  </div>
</div>
