/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
	outline : none;
}

/* 横並び */
.a_flex {
  display: flex;
  flex-flow: row nowrap;
}

/* カーソル指定 */
.a_pointer {
  cursor: pointer;
}

/* submit */
.a_actions input[type="submit"] {
  border-style: none;
  width: 100%;
  height: 32px;
  margin: 8px 0;
  background-color: #fff;
  border-radius: 4px;
  color: #dbb34e;
  border: 1px #dbb34e solid;
}

.a_actions input[type="submit"]:hover {
  cursor: pointer;
  background-color: #dbb34e;
  color: #fff;
}

/* リンク */
.a_box__link {
  text-align: center;
  border-radius: 8px;
  background-color: #fff;
  border: 1px #dbb34e solid;
}

.a_box__link:hover {
  cursor: pointer;
  background-color: #dbb34e;
}

.a_link {
  color: #dbb34e;
}

.a_link:hover {
  color: #fff;
}

.a_link__black {
  color: black;
}

/* 文章省略 */
.a_text__abbreviation {
  width: 240px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin: 0 auto;
}

/* ヘッダー */
header {
  border-bottom: 1px #c3c7c3 solid;
  box-shadow: 0 2px 8px gray;
  margin-bottom: 28px;
}

.c_head{
  margin: 0 auto;
  width: 90%;
  height: 64px;
}

.c_head > h1 {
  margin-right: 4px;
}

.b_link__h {
  margin: 16px 0 0 8px;
  color: #6e6a65;
  font-weight: bold;
}

/* アナウンス */
.c_box__announce_inner {
  width: 400px;
  background-color: #fff;
  border: 1px #6e6a65 solid;
  margin: 40px auto;
  padding: 24px;
  border-radius: 32px;
}

.c_fadein {
  opacity: 0;
  animation: fadein-top 2.5s .3s ease-out forwards;
}
@keyframes fadein-top {
  0% {
     opacity: 0;
     transform: translateY(-20px);
  }
  100% {
     opacity: 1;
     transform: translateY(0);
  }
}

.c_table__announce {
  margin: 0 auto 16px;
}

.c_field__announce select {
  width: 100px;
  height: 50px;
  padding: 0 16px;
  margin-left: 12px;
  border-radius: 8px;
  background-color: #fff;
}

.c_submit__announce {
  width: 40%;
  margin: 0 auto;
}

.c_submit__announce input[type="submit"] {
  border-radius: 24px;
}


/* サインイン・ログイン */
.c_form {
  margin: 20px 0 0 12px;
  width: 440px;
  text-align: center;
}

.b_login {
  margin: 0 auto;
}

.a_box__user {
  color: #4b4a49;
  width: 352px;
  height: 312px;
  margin: 64px auto;
  border-radius: 8px;
  border: 1px #6e6a65 solid;
}

.b_space__box {
  height: 332px;
}

.a_box__user_inner {
  padding: 20px 24px;
}

.field input[type="email"], .field input[type="password"] {
  border-style: none;
  width: 100%;
  height: 32px;
  border: 1px solid #908d89;
  border-radius: 4px;
  padding: 0 8px;
}

/* recipes#top */
.c_box__rank {
  width: 100%;
}

.c_box__rank_inner {
  margin: 0 auto;
  width: 696px;
}

.c_box__rank_inner > h2 {
  margin: 8px 24px;
}

.b_num {
  font-weight: bold;
  width: 64px;
  border-radius: 8px;
  font-size: 24px;
  text-align: center;
  color: #fff;
}

.c_num1 {
  background-color: #dbb34e;
  margin-left: 24px;
}

.c_num2 {
  background-color: #c3c7c3;
  margin-left: 160px;
}

.c_num3 {
  background-color: #aa6444;
  margin-left: 160px;
}

.c_photo__box_rank {
  width: 200px;
  height: 200px;
  margin: 10px 24px 0 0;
}

.c_photo__box_rank:first-child {
  margin-left: 24px;
}

.c_photo__rank {
  border-radius: 12px;
}

.c_link__rank {
  margin: 24px;
  font-size: 24px;
}

.c_link__space {
  padding-left: 40px;
}

/* recipes#new */
.b_box__add_new_item {
  width: 346px;
}

.b_box__add_new_item:first-child {
  margin-right: 48px;
}

.b_box__add_new_item:nth-child(3) {
  width: 732px;
}

.b_box__add_new_item select, .b_box__add_new_item input[type="text"] {
  height: 24px;
  border-radius: 8px;
  margin-bottom: 4px;
  width: 288px;
}

.b_box__add_new_item input[type="text"] {
  border: 1px #6e6a65 solid;
  width: 288px;
  margin-right: 104px;
}

.c_field__new_item > .a_input__add {
  margin: 4px 0 0 16px;
}

/*  */

/* recipes#show */
.c_lack__per {
  width: 440px;
  margin: 0 auto;
  text-align: center;
  border-radius: 8px;
  border: 1px #dbb34e solid;
}

.c_box__recipe_inner {
  width: 50%;
  margin: 0 0 72px 24px;
}

.c_photo__recipe_show {
  border-radius: 12px;
}

.c_show {
  margin-left: 40px;
}

.c_show2 {
  margin: 48px 40px 0;
}

.c_link__admin {
  border-radius: 20px;
  position: fixed;
  bottom: 48px;
  width: 45%;
}

.c_box__lack {
  width: 50%;
  margin: 0 24px 0;
  position: relative;
}

.b_center__lack {
  text-align: center;
}

.c_table__lack {
  margin-left: 80px ;
}

.c_form__date {
  position: absolute;
  bottom: 0;
  left: 125px;
  margin: 0;
  padding: 0;
}

.c_form__date_inner {
  margin: 152px auto 64px;
  width: 280px;
}

.c_field__date input[type="date"] {
  border-style: none;
  background-color: #fff;
  width: 100%;
  height: 32px;
  border-radius: 4px;
  padding: 0 8px;
  border: 1px #c3c7c3 solid;
}

.c_submit__date input[type="submit"] {
  width: 80%;
  height: 28px;
  margin: 8px 28px;
  border-radius: 20px;
}

.c_link__done {
  width: 100%;
  height: 28px;
  margin: 24px auto;
  border-radius: 20px;
}

/* recipes#index */
.c_box__ranking_all > h2 {
  margin: 0 auto;
  width: 70%;
  border-bottom: 2px #dbb34e solid;
}

.c_box__ranking_inner {
  flex-flow: wrap;
  margin: 32px 120px;
}

.c_box__ranking_item {
  width: calc(100%/3);
  margin-bottom: 40px;
  counter-increment: number;
  position: relative;
}

.c_box__ranking_item:nth-child(n+51) {
  display: none;
}

.c_pop{
  position: relative;
  padding: 20px;
  width: 130px;
  height: 120px;
  line-height: 170%;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.2em;
  font-size: 14px;
  background-color: #ff9800;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 100;
  font-size: 16px;
}

.c_pop::before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: 2px;
  top: 2px;
  border-right: 20px solid #ff9800;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  transform: rotate(45deg);
  z-index: 100;
}

.c_box__ranking_item:nth-child(3n+1):nth-last-child(-n+3),
.c_box__ranking_item:nth-child(3n+1):nth-last-child(-n+3) ~ .c_box__ranking_item {
  margin-bottom: 0;
}

.c_link__ranking_item {
  text-align: center;
}

.c_box__photo_ranking {
  width: 240px;
  margin: 0 auto;
  position: relative;
}

.c_photo__ranking_item {
  display: block;
  margin: 0 auto;
  z-index: 10;
}

.c_num__ranking {
  width: 56px;
  height: 56px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #dbb34e;
}

.c_num__ranking > h2::before {
  content: counter(number);
  line-height: 56px;
  color: #fff;
}

/* recipes#edit */
.c_box__recipes_edit_item {
  width: 50%;
  margin: 0 auto;
  padding: 32px;
}

.c_box__recipes_edit_inner {
  width: 320px;
  margin: 0 auto 0 0;
  border: 1px #6e6a65 solid;
  border-radius: 12px;
  padding: 8px 0;
}

.c_form__recipes_edit {
  margin: 16px;
}


.c_form__recipes_edit_inner {
  margin: 0 auto;
  width: 200px;
}

.c_form__recipes_edit_inner > p {
  margin-left: 16px;
  line-height: 32px;
}

.c_form__recipes_edit_inner select {
  width: 64px;
  height: 32px;
  background-color: #fff;
  margin-left: 72px;
  border-radius: 8px;
}

.c_submit__recipes_edit {
  width: 100px;
  margin: auto 0 0;
}

.c_submit__recipes_edit  input[type="submit"] {
  width: 80px;
  height: 32px;
  margin: 0 8px;
  border-radius: 12px;
}


/* end_users#show */
.c_box__user_inner {
  margin: 48px;
}

.c_photo__user {
  border-radius: 50%;
  margin-right: 24px;
}

.c_introduction__user {
  margin-top: 8px;
}

  /* 画面切替 */
.c_radio {
  background-color: #fff;
  margin: 0 auto;}

.b_item__radio {
  width: calc(100%/3);
  height: 48px;
  border-top: 1px #908d89 solid;
  border-bottom: 1px #908d89 solid;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color:  #908d89;
  display: block;
  float: left;
  transition: all 0.2s ease;
}

.b_item__radio:hover {
  opacity: 0.75;
}

input[name="b_item__radio"] {
  display: none;
}

.b_content__radio {
  display: none;
  padding: 40px 40px 20px;
  clear: both;
  position: relative;
}

#favorite:checked ~ #favorite_content,
#report:checked ~ #report_content,
#fridge:checked ~ #fridge_content {
  display: block;
}

.c_radio input:checked + .b_item__radio {
  color: #dbb34e;
  border-bottom: 3px #dbb34e solid;
}
  /* */

.b_box__radio {
  flex-flow: wrap;
}

  /* お気に入り&&れぽーと */
.b_box__radio_inner {
  width: calc(100%/3);
  margin-bottom: 20px;
}

.b_link__radio {
  text-align: center;
}

.b_box__radio_inner:nth-child(3n+1):nth-last-child(-n+3),
.b_box__radio_inner:nth-child(3n+1):nth-last-child(-n+3) ~ .b_box__radio_inner {
  margin-bottom: 0;
}

.b_photo__radio {
  display: block;
  margin: 0 auto;
  border-radius: 12px;
}

  /* */
  /* 冷蔵庫 */
.c_box__fridge{
  padding-bottom: 240px;
}

.c_link__material {
  width: 160px;
  height: 32px;
  margin: 8px 0 32px;
  line-height: 32px;
}

.b_box__food {
  width: calc(100%/4);
}

.b_box__food > p {
  width: 200px;
  text-align: center;
  margin: 0 auto 4px;
}

.b_box__food_inner {
  border: 1px #908d89 solid;
  border-radius: 12px;
  width: 280px;
  margin: 0 auto 24px;
  text-align: center;
}

.b_box__material {
  margin-top: 16px;
}

.b_count__food {
  width: 100%;
  margin-bottom: 16px;
  justify-content: center;
  align-items: center;
}

.b_count__food > p {
  margin-right: 8px;
}

.b_count__material {
  flex-flow: wrap;
  width: 76px;
}

.b_count__material_inner {
  width: 8px;
  height: 8px;
  margin: 4px 4px 0;
  border-radius: 50%;
}

.b_count__material_inner:nth-child(5n) {
  margin-right: 0;
}

.b_count__material_inner_half {
  width: 4px;
  height: 8px;
  margin: 4px 4px 0;
  border-radius: 100px 0 0 100px;
}

.b_form__count {
  margin: 16px;
  justify-content: center;
  align-items: center;
}

.b_form__count > p {
  display: block;
  margin: 0 auto;
}

.b_field__count select {
  width: 124px;
  height: 32px;
  margin: 0 auto;
  padding: 0 4px;
  border-radius: 12px;
  background-color: #fff;
}

.b_submit__count input[type="submit"] {
  width: 48px;
  height: 32px;
  margin: 0 8px;
  border-radius: 12px;
}

.c_box__setting_inner {
  width: 80%;
  position: absolute;
  bottom: 32px;
  left: 120px;
  margin: 0;
}

.c_form__setting {
  position: relative;
}

.c_form__setting_inner {
  width: 160px;
}

.b_field__setting select {
  width: 90%;
  height: 24px;
  border-radius: 8px;
  background-color: #fff;
}

.b_text__setting {
  margin: 16px 0 8px;
}

.b_submit__setting input[type="submit"] {
  width: 120px;
  height: 32px;
  border-radius: 12px;
  position: absolute;
  bottom: 0;
  right: 80px;
  margin: 0;
}

/* fridge_items#new */
  /*  ingredients#new と共通 */
    /*  recipes#new と共通 */
.a_box__add_new {
  margin: 32px;
  padding: 0;
}

.a_box__add_new > h3 {
  margin-bottom: 16px;
}

.a_box__add_new_inner{
  flex-flow: wrap;
  width: calc(100% - 320px /2);
  margin: 0 auto;
}

.a_box__add_new_inner > div {
  margin-bottom: 24px;
}

.a_box__add_new_inner > div:nth-child(5) {
  margin-bottom: 0;
}

.a_input__add {
  color: #4b4a49;
  background-color: #fff;
  width: 16px;
  height: 16px;
  line-height: 100%;
  border: none;
  font-weight: bold;
}

.a_submit__add_item {
  width: 120px;
  margin: 32px 0 0 auto;
}

.a_submit__add_item input[type="submit"] {
  width: 56px;
  margin-right: 80px;
  border-radius: 12px;
}
    /*  */

.a_box__add_item {
  width: 50%;
}

.a_box__add_item > p {
  margin-bottom: 4px;
}
  /*  */

.b_field__fridge_item select {
  background-color: #fff;
  height: 24px;
  border-radius: 8px;
  margin-bottom: 4px;
}

.b_field__fridge_item select:first-child {
  width: 50%;
}

.b_field__fridge_item select:nth-child(2) {
  width: 20%;
}

/* user_menus#index */
.c_box__menu_index {
  margin: 0 5%;
  height: 580px;
}

.c_box__left {
  overflow: hidden scroll;
  width: 60%;
  margin-right: 16px;
}

.c_box__left::-webkit-scrollbar{
  width: 10px;
}

.c_box__left::-webkit-scrollbar-track{
  background: #e0d4b5;
  border: none;
  border-radius: 10px;
}
.c_box__left::-webkit-scrollbar-thumb{
  background: #dbb34e;
  border-radius: 10px;
  box-shadow: none;
}

.c_box__menu {
  padding: 32px;
  padding-right: 24px;
}

.c_box__menu_inner > h2 {
  margin-bottom: 16px;
}

.c_photo__menu_index {
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.c_box__update_num {
  width: 50%;
}

.c_box__update_num_inner {
  position: relative;
  height: 32px;
}

.c_box__update_num_inner select {
  height: 20px;
  margin-right: 8px;
  border-radius: 8px;
  border:1px #c3c7c3 solid;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.c_box__update_num_inner input[type="submit"] {
  background-color: #fff;
  border-radius: 12px;
  width: 95%;
  height: 32px;
  text-align: right;
  padding-right: 30%;
  margin: 0;
}

.c_box__link_menu {
  width: 50%;
}

.c_link__menu_index {
  width: 95%;
  margin-left: 5%;
  height: 32px;
  border-radius: 12px;
  line-height: 32px;
}

.c_link__menu_index:first-child {
  margin-bottom: 8px;
}

.c_box__right {
  width: 40%;
  position: relative;
}

.c_box__lack_food {
  padding: 32px;
}

.c_box__lack_food_inner {
  border: 1px #6e6a65 solid;
  border-radius: 12px;
  margin: 16px;
  text-align: center;
  padding: 16px;
}

.c_box__lack_food_inner > div {
  margin-bottom: 8px;
}

.c_box__lack_food_inner > div:nth-child(n+11) {
  display: none;
}

.c_box__lack_food_inner > div:last-child {
  margin-bottom: 0;
}

.c_link__list_of_shopping {
  position: absolute;
  right: 36px;
  bottom: 64px;
  width: 80%;
}

/* user_menus#new */
.c_box__menu_new {
  width: 640px;
  margin: 0 auto;
}
.c_box__menu_new_inner {
  flex-wrap: wrap;
  margin: 120px auto 50px;
}

.b_box__menu_new_item:first-child, .b_box__menu_new_item:nth-child(2) {
  margin-bottom: 32px;
}

.b_box__menu_new_item:nth-child(2n) {
  margin: 0 0 0 auto;
}

.b_photo__menu_new {
  border-radius: 12px;
}

.c_box__menu_new_bottom_inner {
  width: 208px;
  margin: 0 0 0 auto;
}

.c_box__menu_new_bottom_inner select {
  height: 32px;
  border-radius: 8px;
}

.c_box__menu_new_bottom_inner input[type="submit"] {
  width: 160px;
  margin: 0 0 0 auto;
  border-radius: 8px;
}

.c_box__decided {
  width: 248px;
  margin: 24px 0 50px auto;
}

.c_box__decided > div {
  width: 63px;
  margin-left: 8px;
}

/* user_menus#new_one_week */
.c_box__one_week_top_inner {
  width: 560px;
  margin: 0 auto;
}
.c_text_one_week_top_inner {
  width: 240px;
  height: 320px;
  text-align: center;
  line-height: 280px;
}

.c_box__one_week_main_inner {
  flex-wrap: wrap;
}

.b_box__one_week_item {
  width: calc(100%/3);
}

.b_box__one_week_item > p {
  font-size: 32px;
  text-align: center;
  border-top: 1px #dbb34e solid;
  border-bottom: 1px #dbb34e solid;
  margin: 48px 0;
}

.b_box__one_week_item_inner {
  width: 240px;
  margin: 0 auto;
}

.c_select__one_week_item {
  margin: 32px 40px;
  text-align: center;
}

.c_select__one_week_item select {
  width: 120px;
  height: 32px;
  border-radius: 8px;
  margin-right: 8px;
  background-color: #fff;
}

.c_select__one_week_item > p {
  line-height: 32px;
}

.c_submit__one_week_item input[type="submit"] {
  border-radius: 12px;
}

.c_box__one_week_bottom {
  width: 40%;
  margin: 56px auto;
}

.c_box__one_week_bottom_inner {
  margin-top: 16px;
  border: 1px #6e6a65 solid;
  border-radius: 20px;
  padding: 24px 24px 16px;
  flex-flow: wrap;
}

.c_box__week_lack_food {
  width: 49%;
  margin-bottom: 8px;
  margin-right: 2%;
}

.c_box__week_lack_food:nth-child(2n) {
  margin-right: 0;
}

.c_box__week_lack_food > p {
  text-align: center;
}

.c_button_decided_week_menu {
  margin: 0 auto 48px;
  width: 50%;
}

.c_button_decided_week_menu input[type="submit"] {
  background-color: #dbb34e;
  color: #fff;
  border-radius: 12px;
}

.c_button_decided_week_menu input[type="submit"]:hover {
  background-color: #fff;
  color: #dbb34e;
}

/* need_ingredients#index */
.c_box__shopping_list_inner {
  margin: 80px 48px;
}

.c_box__shopping_list_item {
  border-bottom: 1px #dbb34e dashed;
  margin-top: 8px;
}

.c_box__shopping_list_item_inner {
  width: 800px;
  margin: 0 auto;
}

.c_box__shopping_list_item_inner > p {
  width: 210px;
  line-height: 32px;
  margin: 8px 0 8px 85px;
  text-align: center;
}

.c_submit__buy {
  width: 210px;
}

.c_submit__buy input[type="submit"] {
  width: 50%;
  border-radius: 12px;
}

.c_link__part_add {
  width: 90%;
  margin: 48px auto;
  border-radius: 12px;
}

/* ingredients#new */
.b_field__test_item select {
  width: 25%;
  background-color: #fff;
  height: 24px;
  border-radius: 8px;
  margin-bottom: 4px;
}
/*  */

/* testers#show */
.c_box__test_link {
  margin: 48px;
}

.b_link__tester {
  width: 40%;
  margin: 0 auto;
}

.b_link__test {
  width: 100%;
  display: inline-block;
}

.c_border__test {
  border: 1px #6e6a65 solid;
  border-radius: 20px;
  width: 80%;
  margin: 48px auto;
}

.c_border__test_inner {
  margin: 24px;
}
/*  */

/* フッター */
footer {
  background-color: #6e6a65;
}

.c_foot {
  text-align: center;
}

.c_link__f {
  color: #fff;
}
